<h1>Navigation</h1>
    
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto sint quia doloremque tenetur a cum! Quidem reprehenderit maxime labore officia, veritatis, consectetur modi cum incidunt, rerum voluptatem cumque. Enim, delectus!</p>

<h1>Footer</h1>