 
<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi impedit veritatis voluptates culpa, aliquam vel.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nisi provident ea molestias quam ullam, magnam quae impedit eveniet minus.</p>
    <a href="https://www.faztweb.com" class="btn btn-primary" target="__blank">Fazt Web</a>
</div>