<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account LogIn
            </div>
            <img src="/img/logo.png" class="rounded-circle mx-auto d-block m-8 logo" alt="Logo">
            <div class="card-body">
                <form action="/users/signIn" method="POST">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <button class="btn btn-success btn-block">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>